# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production builds
/build
/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.tmp
*.temp
/temp
/tmp

# OS files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# IDEs
*.swp
*.swo
*~

# TypeScript cache
*.tsbuildinfo

# Next.js (if applicable)
.next/
out/

# Nuxt.js (if applicable)
.nuxt
dist

# Gatsby files (if applicable)
.cache/

# Python virtual environment
.venv/

# Large binary/zip files
*.zip

# Uploaded temp files
backend/public/temp/*
!backend/public/temp/.gitkeep

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Vite
dist-ssr
*.local

# User-specific files
AMAN_RAGHUWANSHI
KARTIK GRAG
/kartik-garg portfolio.zip
/Aman_Raghuwanshi.23BCS021.pdf
/kartik-ref


